body {
      font-family: "Karla", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      padding: 0;
      margin: 0;
    }

    table {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 650px;
    }

    tr {
      display: flex;
      width: 100%;
    }

    td {
      display: flex;
      width: 100%;
      padding: 0.3rem;
      margin: 0.2rem;
    }

    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }

    .outer {
      background-color: hsl(148, 38%, 91%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }

    .form-outer {
      flex-wrap: wrap;
      background-color: white;
      flex-direction: column;
      border-radius: 1rem;
      padding: 1.5rem;
    }

    thead h1 {
      color: hsl(162, 24%, 22%);
      margin-top: 0;
      margin-bottom: 1rem;
      font-weight: 700;
      font-size: 2rem;
    }

    input[type='text'],
    input[type='email'],
    textarea {
      padding: 0.5rem;
      border: 1px solid hsl(168, 17%, 69%);
      border-radius: 0.5rem;
      width: 100%;
      box-sizing: border-box;
    }

    input[type="radio"] {
      box-sizing: border-box;
      width: 100%;
    }

    label {
      box-sizing: border-box;
      width: 100%;
    }

    .qspan {
      display: block;
      box-sizing: 100%;
      border-radius: 0.5rem;
      border: 1px solid hsl(168, 17%, 69%);
      padding: 0.5rem;
      font-size: 16px;
      width: 100%;
    }

    span {
      box-sizing: border-box;
      width: 100%;
    }

    input[type='text']:hover,
    input[type='email']:hover,
    textarea:hover,
    .qspan:hover,
    .consent-line:hover,
    .submit-btn:hover {
      cursor: pointer;
    }

    input[type='text']:focus,
    input[type='email']:focus,
    textarea:focus {
      border: 1px solid hsl(152, 77%, 40%);
      box-shadow: 0 0 5px hsl(148, 38%, 91%) inset;
      outline: none;
      cursor: text;
    }


    label,
    .qtext {
      font-size: 15px;
      font-weight: 400;
      margin: 0.25rem 0 0;
    }

    .consent-line {
      display: block;
      margin: 0.5rem 0 1rem;
      position: relative;
    }

    .submit-btn {
      width: 100%;
      padding: 0.8rem;
      margin-top: 0.5rem;
      height: 4rem;
      border: 1px solid hsl(168, 17%, 69%);
      border-radius: 0.5rem;
      font-weight: 800;
      color: white;
      background-color: hsl(169, 82%, 27%);
    }

    .consent-btn {
      position: relative;
      vertical-align: middle;
      margin-right: 0.5rem;
      height: 1rem;
      width: 1rem;
      cursor: pointer;
    }

    .consent-btn:checked {
      accent-color: hsl(157, 82%, 33%);
    }

    .rbox {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      box-sizing: border-box;
      transition: 0.2s;
    }


    .rbox::before {
      content: url('./assets/images/icon-radio-unselected.svg');
      margin-right: 5%;
      margin-left: 5%;
    }

    input[type='radio'] {
      display: none;

      &:checked {
        +.rbox::before {
          content: url('./assets/images/icon-radio-selected.svg');
        }

        +.rbox {
          background-color: hsl(148, 38%, 91%);
        }
      }
    }

    .warning {
      color: red;
      font-size: 14px;
      margin-top: 0.3rem;
    }

    .warningBox {
      border: 1px solid red !important;
    }

    .block {
      display: block;
    }

    .success-inner {
      display: none;
      flex-direction: column;
      background-color: hsl(187, 24%, 22%);
      color: rgb(255, 255, 255);
      padding: 0.5rem 1.5rem;
      border-radius: 1rem;
      width: 405px;
      transition: 0.1s;
    }

    .success-inner .header {
      display: flex;
      margin: 0.2rem 0.2rem 0;
    }

    .header h3 {
      margin-left: 5%;
    }

    .footer p {
      margin-top: 0;
      font-size: 16px;
    }

    input[type='text'],
    .qspan {
      height: 3rem;
    }

    textarea {
      height: 6rem;
    }

    #mobile-toggle-on {
      display: none;
    }

    @media (min-width:500px) and (max-width:700px) {
      .form-outer {
        box-sizing: border-box;
        width: 100%;
        padding: 2rem;
      }

      table {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }
    }

    @media (max-width:500px) {
      .form-outer {
        box-sizing: border-box;
        width: 100%;
        padding: 2rem;
      }

      table {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }

      tr {
        display: flex;
        flex-wrap: wrap;
      }

      #mobile-toggle-on {
        display: block;
      }

      #mobile-toggle-off {
        display: none;
      }

      .success-inner {
        width: 100%;
        padding: 2rem;
      }
    }
    a::after {
      content: '  *';
      color: green;
    }
